@font-face {
    font-family: 'Anton';
    src: url('../fonts/Anton.woff2') format('woff2'),
    url('../fonts/Anton.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html{
    height: 100vh;
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: Anton;
    background-color: #efefef;
}

.RightPanel {
    position: absolute;
    width: 1336px;
    height: 100%;
    margin-left: 200px;
    background-color: #efefef;
}


.LeftPanel {
    position: fixed;
    height: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    background-color: #faf9f7;
}